<form #formNoticias="ngForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="container">
      <div class="formBox">
        <div class="row">
          <div class="col-sm-12">
            <h1>Noticias</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="inputBox ">
              <div class="inputText">Id noticia</div>
              <input
                type="text"
                #IdNoticias="ngModel"
                name="IdNoticias"
                [(ngModel)]="noticias.idnoticias"
                class="input"
                disabled
                required
              />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="inputBox">
              <div class="inputText">Titulo</div>
              <input
                type="text"
                #Titulo="ngModel"
                name="Titulo"
                [(ngModel)]="noticias.titulo"
                class="input"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="inputBox">
              <div class="inputText">Imagen</div>
              <input
                type="text"
                #Imagen="ngModel"
                name="Imagen"
                [(ngModel)]="noticias.imagen"
                class="input"
                id="image"
                required
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  data-toggle="modal"
                  data-target=".bd-example-modal-lg"
                  type="button"
                >
                  Elegir Imagen
                </button>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="inputBox">
              <div class="inputText">Fecha</div>
              <input
                type="text"
                #fecha="ngModel"
                name="fecha"
                [(ngModel)]="noticias.fecha"
                class="input"
                disabled
                required
              />
            </div>
          </div>
        </div>

        <!--Imagenes agregadas
                        <div class="row">
                                <div class="col-sm-12">
                                    <div class="inputBox">
                                        <div class="inputText">Imagenes seleccionadas</div>
                                        
                                    </div>
                                </div>
                            </div>
                       end-->

        <div class="row">
          <div class="col-sm-12">
            <div class="inputBox">
              <div class="inputText">Cuerpo noticia</div>
              <textarea
                class="input"
                #Body="ngModel"
                name="Body"
                [(ngModel)]="noticias.body"
                required
              ></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <input
              type="submit"
              name=""
              class="button"
              value="{{ titleBoton }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal Selector image-->
  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Seleccionar imagen</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3" *ngFor="let i of bancoImg; let b = index">
              <div class="custom-control custom-checkbox image-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="ck1a{{ b }}"
                  value="{{ i.Nombre }}"
                  (click)="toggle(i.Nombre)"
                />
                <label class="custom-control-label" for="ck1a{{ b }}">
                  <img
                    src="http://localhost/bd/api-rest/img-uploads/{{
                      i.Nombre
                    }}"
                    alt="#"
                    class="img-fluid"
                  />
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            (click)="select()"
          >
            Seleccionar
          </button>
          <button
            class="btn btn-info"
            data-toggle="modal"
            data-target=".bd-example-modal-lg-image"
            type="button"
            data-dismiss="modal"
          >
            Subir Imagen
          </button>
          <button type="button" class="btn btn-info" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--End-->

  <!--Modal Upload imagen-->
  <div
    class="modal fade bd-example-modal-lg-image"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Subir imagen</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="file-loading">
            <input
              id="input-20"
              type="file"
              accept="image/*"
              (change)="fileChangeEvent($event)"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            (click)="uploadFileBD()"
          >
            Subir
          </button>
          <button
            type="button"
            class="btn btn-info"
            data-dismiss="modal"
            data-toggle="modal"
            data-target=".bd-example-modal-lg"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--End-->
</form>
